.content{
    width: 50%;
    margin: auto;
}

.grid {
    display: flex;
    flex-wrap: wrap;    
    margin: auto;   
}

.row4{
    width: 400px;    
}

.row5{
    width: 500px;    
}

.hide{
    display: none;
}